# String Based Questions

1. Write a program to reverse a string

In [1]:
a=input("Enter a string")
b=a[::-1]
print("The Reverese string is",b)

Enter a stringCharan
The Reverese string is narahC

2. Check if a string is a palindrome.

In [2]:
a=input("Enter a string")
b=a[::-1]
if a==b:
    print("Given string is palindrome")
else:
    print("Not a palindrome")

Enter a stringmadam
Given string is palindrome

3. Convert a string to uppercase.

In [3]:
a=input("Enter a string")
a.upper()

Enter a stringsaicharan

'SAICHARAN'

4. Convert a string to lowercase.

In [4]:
a=input("Enter the string")
a.lower()

Enter the stringSAI CHARAN

'sai charan'

5. Count the number of vowels in a string.

In [16]:
str=input("Enter the string")
vowels=0
for i in str:
    if i=='a'or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        vowels=vowels+1
print("the no of vowels are",vowels)

Enter the stringSAI charan
the no of vowels are 4

6. Count the number of consonants in a string

In [18]:
str=input("Enter the string")
vowels=0
consonants=0
for i in str:
    if i=='a'or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
        vowels=vowels+1
    else:
        consonants=consonants+1
print("the no of consonants are",consonants)

Enter the stringSAichaRAn
the no of consonants are 5

7. Remove all whitespaces from a string.

In [20]:
a=input("Enter the string")
b=a.replace(" ","")
print(b)

Enter the string"  c h a r a n"
"charan"

8. Find the length of a string without using the `len()` function

In [22]:
# User inputs the string and it gets stored in variable str
str = input("Enter a string: ")

# length variable to count the character in a string
length = 0
for i in str:
      length = length+1
print("Length of the input string is:", length)

Enter a string: charan
Length of the input string is: 6

9.Check if a string contains a specific word.

In [23]:
str="Hi I am charan"
if "Hi" in str:
    print(True)
else:
    print(False)

True

10.Replace a word in a string with another word

In [24]:
txt = "I like JAVA"

x = txt.replace("JAVA", "Python")

print(x)

I like Python

11. Count the occurrences of a word in a string.

In [1]:
a = "Hello every one Hello All Hello Gentle man"
word_to_count = "Hello"

result = a.count(word_to_count)
print(f"The word '{word_to_count}' appears {result} times in the text.")

The word 'Hello' appears 3 times in the text.

12.Find the first occurrence of a word in a string.

In [29]:
text = "Hi Welcome to my home Chaaran home"
word_to_find = "home"

index = text.find(word_to_find)

if index != -1:
    print(f"The first occurrence of '{word_to_find}' starts at index {index}.")
else:
    print(f"'{word_to_find}' not found in the text.")

The first occurrence of 'home' starts at index 17.

13. Find the last occurrence of a word in a string.

In [30]:
text = "Hi welcome to my home Charan home"
word_to_find = "home"

index = text.rfind(word_to_find)

if index != -1:
    print(f"The last occurrence of '{word_to_find}' starts at index {index}.")
else:
    print(f"'{word_to_find}' not found in the text.")

The last occurrence of 'home' starts at index 29.

14 Split a string into a list of words.

In [31]:
text = "apple,banana,orange,grape"
b = text.split(',')

print(b)

['apple', 'banana', 'orange', 'grape']

15. Join a list of words into a string.

In [35]:
words_list = ['This', 'is', 'a', 'list', 'of', 'words']
delimiter=''
result_string = delimiter.join(words_list)
print(result_string)

Thisisalistofwords

16. Convert a string where words are separated by spaces to one where words
are separated by underscores

In [37]:
a=input("Enter a string")
b=a.replace(" ","_")
print(b)

Enter a stringsai charan Reddy
sai_charan_Reddy

17. Check if a string starts with a specific word or phrase.

In [38]:
text = "Hello, how are you doing today?"
prefix = "Hello"

if text.startswith(prefix):
    print(f"The text starts with '{prefix}'.")
else:
    print(f"The text does not start with '{prefix}'.")

The text starts with 'Hello'.

18. Check if a string ends with a specific word or phrase

In [41]:
text = "Hello, how are you doing today?"
b = "?"

if text.endswith(b):
    print(f"The text ends with '{b}'.")
else:
    print(f"The text does not end with '{b}'.")

The text ends with '?'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [2]:
a=input("Enter the String")
b=a.title()
print(b)

Enter the Stringhello world
Hello World

20.Find the longest word in a string

In [11]:
input_string = "This is a sample string where we want to find the longest word."

words = input_string.split()  # Split the string into a list of words
longest_word = words[0]

for word in words:
    if len(word) > len(longest_word):
        longest_word = word

print("The longest word is:", longest_word)

The longest word is: longest

21 Find the shortest word in a string.

In [15]:
input_string = "This is a sample string"

words = input_string.split()  # Split the string into a list of words
shortest_word =words[0]

for word in words:
    if len(word) < len(shortest_word):
        shortest_word = word
        
print("The shortest word is:",shortest_word)

The shortest word is: a

22.Reverse the order of words in a string.

In [16]:
input_string = "This is a sample string to reverse."

words = input_string.split()  # Split the string into a list of words
reversed_string = " ".join(reversed(words))  # Reverse the list of words and join them with spaces

print("Reversed string:", reversed_string)

Reversed string: reverse. to string sample a is This

23.Check if a string is alphanumeric

In [17]:
a=input("Enter the string")
a.isalnum()

Enter the stringsaicharan

True

24.Extract all digits from a string.

In [20]:
input_string = "Hello123World456"

digits = []
for i in input_string:
    if i.isdigit():
        digits.append(i)

result = ''.join(digits)
print("Extracted digits:", result)

Extracted digits: 123456

25. Extract all alphabets from a string.

In [22]:
input_string = "Hello123World456"

alpha = []
for i in input_string:
    if i.isalpha():
        alpha.append(i)

result = ''.join(alpha)
print("Extracted alpha:", result)

Extracted alpha: HelloWorld

26. Count the number of uppercase letters in a string

In [1]:
a= input("Enter a string: ")
uppercase_count = 0

for i in a:
    if i.isupper():
        uppercase_count += 1

print("Number of uppercase letters:", uppercase_count)

Enter a string: sAI
Number of uppercase letters: 2

27.Count the number of Lowercase letters in a string

In [2]:
a= input("Enter a string: ")
lowercase_count = 0

for i in a:
    if i.islower():
        lowercase_count += 1

print("Number of lowercase letters:", lowercase_count)

Enter a string: saICharan
Number of lowercase letters: 7

28. Swap the case of each character in a string.

In [3]:
a=input("Enter the string")
print(a.swapcase())

Enter the stringSaiCHAran
sAIchaRAN

29. Remove a specific word from a string.

In [4]:
input_string = input("Enter a string: ")
word_to_remove = input("Enter the word to remove: ")

new_string = input_string.replace(word_to_remove, '')

print("String with word removed:", new_string)

Enter a string: Hi I am Charan
Enter the word to remove: Charan
String with word removed: Hi I am

30. Check if a string is a valid email address.

In [4]:
from validate_email import validate_email
email=input("Enter your Email")
a=validate_email(email)
if a:
    print("Valid email adress")
else:
    print("Invalid email adress")

Enter your EmailSAO
Invalid email adress

31.Extract the username from an email address string.

In [5]:
input_email = input("Enter an email address: ")

if "@" in input_email:
    username = input_email.split("@")[0]
    print("Extracted username:", username)
else:
    print("Invalid email address format")

Enter an email address: saicharan10521@gmail.com
Extracted username: saicharan10521

32. Extract the domain name from an email address string

In [6]:
input_email = input("Enter an email address: ")

if "@" in input_email:
    username = input_email.split("@")[1]
    print("Extracted username:", username)
else:
    print("Invalid email address format")

Enter an email address: saicharan10521@gmail.com
Extracted username: gmail.com

33. Replace multiple spaces in a string with a single space.

mystring = 'Here is  some   text   I      wrote   '
b=' '.join(mystring.split())
print(b)

34. Check if a string is a valid URL.

In [14]:
import validators
validation_url=validators.url(input("Enter URL"))
if validation_url:
    print("Valid url")
else:
    print("Invalid url")

Enter URLhttps://edabit.com/challenges/python3
Valid url

35. Extract the protocol (http or https) from a URL string

In [19]:
url=input("enter your url")
b=url.split(':')[0]
print("protocol of the given url is ",b)

enter your urlhttps://www.pwskills.com/
protocol of the given url is  https

36. Find the frequency of each character in a string.

In [27]:
from collections import Counter
a = "saicharan"
res = Counter(a)
print(res)

Counter({'a': 3, 's': 1, 'i': 1, 'c': 1, 'h': 1, 'r': 1, 'n': 1})

37. Remove all punctuation from a string.

In [28]:
a_string = '!hi. wh?at is the weat[h]er lik?e.'
new_string = a_string.replace('!', '')

print(new_string)

hi. wh?at is the weat[h]er lik?e.

38. Check if a string contains only digits.

In [32]:
# Initialising string
string1 = '1234556'
string2 = 'ab123bc'

# printing initial string
print("Initial Strings : ", string1, string2)

# Using isdigit()
if string1.isdigit():
	print("String1 contains all numbers")
else:
	print("String1 doesn't contains all numbers")

if string2.isdigit():
	print("String2 contains all numbers")
else:
	print("String2 doesn't contains all numbers")

Initial Strings :  1234556 ab123bc
String1 contains all numbers
String2 doesn't contains all numbers

39. Check if a string contains only alphabets.

In [34]:
# Initialising string
string1 = 'abcdef'
string2 = 'ab123bc'

# printing initial string
print("Initial Strings : ", string1, string2)

# Using isalpha()
if string1.isalpha():
	print("String1 contains all alphabets")
else:
	print("String1 doesn't contains all alphabets")

if string2.isalpha():
	print("String2 contains all alphabets")
else:
	print("String2 doesn't contains all alphabets")

Initial Strings :  abcdef ab123bc
String1 contains all alphabets
String2 doesn't contains all alphabets

40. Convert a string to a list of characters.

In [36]:
input_string = input("Enter a string: ")
b= list(input_string)
print("List of characters:", b)

Enter a string: sai charan
List of characters: ['s', 'a', 'i', ' ', 'c', 'h', 'a', 'r', 'a', 'n']

41. Check if two strings are anagrams.

In [46]:
a=input("enter the string")
b=input("enter the string")
a1=a.lower()
b1=b.lower()
if len(a)==len(b):
    a2=sorted(a1)
    b2=sorted(b1)
    if a2==b2:
        print("Anagram")
    else:
        print("not anagrams")
else:
    print("Not anagrams")

enter the stringcare
enter the stringrace
Anagram

42. Encode a string using a Caesar cipher.

In [64]:
def encrypt(inputText,s):
    result = ""
 
    for i in range(len(inputText)):
        char = inputText[i]
        print(char)
 
        if (char.isupper()):
            result += chr((ord(char) + s-65) % 26 + 65)
 
        else:
            result += chr((ord(char) + s - 97) % 26 + 97)
 
    return result
 
inputText = input("Enter the string")
s = int(input("Enter the shift you want"))
print ("Text  : " + inputText)

print ("Shift : " + str(s))
print ("Cipher: " + encrypt(inputText,s))

Enter the stringsaicharan
Enter the shift you want2
Text  : saicharan
Shift : 2
s
a
i
c
h
a
r
a
n
Cipher: uckejctcp

43.Decode a Caesar cipher encoded string

In [67]:
def caesar_decrypt(ciphertext, shift):
    decrypted_text = ""

    for char in ciphertext:
        if char.isalpha():
            ascii_offset = ord('a') if char.islower() else ord('A')
            decrypted_char = chr((ord(char) - ascii_offset - shift) % 26 + ascii_offset)
            decrypted_text += decrypted_char
        else:
            decrypted_text += char

    return decrypted_text

# Example usage
encoded_string = input("Enter the string")
shift_value = 2
decoded_string = caesar_decrypt(encoded_string, shift_value)
print(decoded_string)

Enter the stringuck
sai

44. Find the most frequent word in a string.

In [75]:
input_string = "apple orange banana apple banana orange apple"
words = input_string.split()  # Split the string into words

word_frequency = {}  # Create a dictionary to store word frequencies

for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

most_frequent_word = max(word_frequency, key=word_frequency.get)
print("The most frequent word is:", most_frequent_word)

The most frequent word is: apple

45. Find all unique words in a string.

In [68]:
input_string = "This is a sample string with some repeating words and some unique words"
words = input_string.split()  # Split the string into words
unique_words = set(words)  # Convert the list of words into a set

print(unique_words)

{'is', 'unique', 'some', 'repeating', 'with', 'and', 'This', 'a', 'words', 'sample', 'string'}

46. Count the number of syllables in a string.

In [77]:
def count_syllables(word):
    vowels = "aeiouAEIOU"
    syllable_count = 0
    in_syllable = False
    
    for char in word:
        if char in vowels:
            if not in_syllable:
                syllable_count += 1
                in_syllable = True
        else:
            in_syllable = False
    
    return syllable_count

# Test the function
word = "count"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'count' has 1 syllables.

47. Check if a string contains any special characters.

In [78]:
input_string = "Hello, world!"  # Replace this with your string

special_characters = "!@#$%^&*()_+{}[]|;:,.<>?\"'"

contains_special_character = False

for char in input_string:
    if char in special_characters:
        contains_special_character = True
        break  # Exit the loop as soon as a special character is found

if contains_special_character:
    print("String contains special characters.")
else:
    print("String does not contain special characters.")

String contains special characters.

48. Remove the nth word from a string.

In [82]:
input_string = input("Enter the string")
n = 3  # Remove the 3rd word ("a")

words = input_string.split()  # Split the string into words

if n > 0 and n <= len(words):
    del words[n - 1]  # Remove the nth word (adjusted for 0-based indexing)
    result = ' '.join(words)  # Join the remaining words back into a string
    print(result)
else:
    print("Invalid index for word removal")

Enter the stringi am a very good boy
i am very good boy

49. Insert a word at the nth position in a string

In [83]:
input_string = "This is a sentence."
word_to_insert = "new"
n = 3  # Insert at the 3rd position

if n >= 0 and n <= len(input_string):
    result = input_string[:n] + word_to_insert + " " + input_string[n:]
    print(result)
else:
    print("Invalid position for insertion")

Thinew s is a sentence.

50. Convert a CSV string to a list of lists.

In [98]:
import csv
from io import StringIO

csv_string = "1,Sai,Charan\n2,Deepali\n3,Bhavani,Chinnadadam"

csv_list_of_lists = []
csv_file = StringIO(csv_string)
reader = csv.reader(csv_file)
for row in reader:
    csv_list_of_lists.append(row)

print(csv_list_of_lists)

[['1', 'Sai', 'Charan'], ['2', 'Deepali'], ['3', 'Bhavani', 'Chinnadadam']]

# Lists

1. Create a list with integers from 1 to 10.

In [106]:
lst = list(range(1,11))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [3]:
my_list = [1, 2, 3, 4, 5]
count = 0

for i in my_list:
    count += 1

print("Length:", count)

Length: 5

3. Append an element to the end of a list.

In [4]:
a=[1,2,3,4]
a.append(6)
a

[1, 2, 3, 4, 6]

4. Insert an element at a specific index in a list.

In [6]:
a=[1,2,3,4,5,6,7,8,9]
a.insert(3,'45')
a

[1, 2, 3, '45', 4, 5, 6, 7, 8, 9]

5. Remove an element from a list by its value.

In [7]:
 d = [3, 7, 2, 9, 5]
value_to_remove = 7
d.remove(value_to_remove)
print(my_list)

[1, 2, 3, 4, 5]

6. Remove an element from a list by its index.

In [10]:
my_list = [10, 20, 30, 40, 50]

# Removing the element at index 2 (which is 30)
removed_element = my_list.pop(2)

print("List after removal:", my_list)
print("Removed element:", removed_element)

List after removal: [10, 20, 40, 50]
Removed element: 30

7. Check if an element exists in a list.

In [9]:
my_list = [10, 20, 30, 40, 50]

element_to_check = 30

if element_to_check in my_list:
    print("Element exists in the list.")
else:
    print("Element does not exist in the list.")

Element exists in the list.

8.Find the index of the first occurrence of an element in a list.

In [12]:
my_list = [3, 7, 2, 9, 5]
element_to_find = 7

index = my_list.index(element_to_find)
print("Index of", element_to_find, "is", index)

Index of 7 is 1

9. Count the occurrences of an element in a list.

In [13]:
my_list = [10, 20, 30, 20, 40, 50, 20]

element_to_count = 20
count = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the list.")

The element 20 appears 3 times in the list.

10. Reverse the order of elements in a list.

In [14]:
a=[10,20,30,40,50,60]
a.reverse()
print(a)

[60, 50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [15]:
a=[50,40,60,54,34]
a.sort()
print(a)

[34, 40, 50, 54, 60]

12. Sort a list in descending order.

In [17]:
a=[50,40,60,54,34]
a.sort(reverse=True)
print(a)

[60, 54, 50, 40, 34]

13. Create a list of even numbers from 1 to 20.

In [22]:
a=list(range(2,21,2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [23]:
a=list(range(1,21,2))
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [25]:
a=[23,34,54,32,45,68,90]
b=sum(a)
print(b)

346

16. Find the maximum value in a list.

In [26]:
a=[23,34,54,32,45,68,90]
b=max(a)
print(b)

90

17.Find the minimum value in a list

In [27]:
a=[23,34,54,32,45,68,90]
b=min(a)
print(b)

23

 18.Create a list of squares of numbers from 1 to 10.

In [28]:
squares_list = [x ** 2 for x in range(1, 11)]

print("List of squares:", squares_list)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers

In [31]:
import random

rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[5, 7, 6, 3, 9, 7, 4, 7, 9, 7]

20. Remove duplicates from a list.

In [30]:
original_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))

print("List with duplicates:", original_list)
print("List without duplicates:", unique_list)

List with duplicates: [1, 2, 2, 3, 4, 4, 5]
List without duplicates: [1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [32]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = list(set(list1) & set(list2))

print("Common elements:", common_elements)

Common elements: [3, 4, 5]

22. Find the difference between two lists.

In [35]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

Difference_elements = list(set(list1) - set(list2))

print("Difference elements with respect to list 1- list 2:", Difference_elements)

Difference elements with respect to list 1- list 2: [1, 2]

23. Merge two lists.

In [36]:
a=[1,2,3]
b=[4,5,6]
merged_list=a+b
print(merged_list)

[1, 2, 3, 4, 5, 6]

24.Multiply all elements in a list by 2

In [37]:
original_list = [1, 2, 3, 4, 5]
doubled_list = []

for element in original_list:
    doubled_list.append(element * 2)

print("Original list:", original_list)
print("Doubled list:", doubled_list)

Original list: [1, 2, 3, 4, 5]
Doubled list: [2, 4, 6, 8, 10]

25. Filter out all even numbers from a list.

In [41]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = []

for number in original_list:
    if number % 2 == 0:
        even_numbers.append(number)

print("Original list:", original_list)
print("Even numbers:", even_numbers)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers: [2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers

In [42]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = []

for string in string_list:
    integer_list.append(int(string))

print("Original list of strings:", string_list)
print("List of integers:", integer_list)

Original list of strings: ['1', '2', '3', '4', '5']
List of integers: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings

In [46]:
integer_list = [1, 2, 3, 4, 5]
string_list = []

for number in integer_list:
    string_list.append(str(number))

print("Original list of integers:", integer_list)
print("List of strings:", string_list)

Original list of integers: [1, 2, 3, 4, 5]
List of strings: ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [50]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = sum(my_list, [])
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers

In [53]:
fibonacci_numbers = [0, 1]  # Starting with the first two Fibonacci numbers

while len(fibonacci_numbers) < 10:
    next_number = fibonacci_numbers[-1] + fibonacci_numbers[-2]
    #print(next_number)
    fibonacci_numbers.append(next_number)

print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [55]:
# importing numpy library
import numpy as np

# initializing list
test_list = [11, 4, 5, 8, 10]

# convert list to numpy array
test_arr = np.array(test_list)

# check if the numpy array is sorted or not
if np.all(np.diff(test_arr) >= 0):
    print("Yes, List is sorted.")
else:
    print("No, List is not sorted.")

No, List is not sorted.

31.Rotate a list to the left by `n` positions.

In [56]:
my_list = [1, 2, 3, 4, 5]
n = 2

n %= len(my_list)  # Handle cases where n is larger than the list length

rotated_list = my_list[n:] + my_list[:n]

print("Original list:", my_list)
print(f"List rotated left by {n} positions:", rotated_list)

Original list: [1, 2, 3, 4, 5]
List rotated left by 2 positions: [3, 4, 5, 1, 2]

32.Rotate a list to the right by n positions

In [60]:
my_list = [1, 2, 3, 4, 5]
n = 2

n %= len(my_list)  # Handle cases where n is larger than the list length

rotated_list = my_list[-n:] + my_list[:-n]

print("Original list:", my_list)
print(f"List rotated right by {n} positions:", rotated_list)

Original list: [1, 2, 3, 4, 5]
List rotated right by 2 positions: [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [71]:
noprimes = set(j for i in range(2, 8) for j in range(i*2, 50, i))
primes = [x for x in range(2, 50) if x not in noprimes]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`

In [75]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = int(input("enter chunk size"))

chunks = [original_list[i:i + chunk_size] for i in range(0, len(original_list), chunk_size)]

print(chunks)

enter chunk size2
[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

35. Find the second largest number in a list

In [79]:
a=[10,20,30,12,154]
a.sort()
print("The second largest number in given list is ",a[1])

The second largest number in given list is  12

36. Replace every element in a list with its square.

In [80]:
original_list = [2, 3, 5, 7, 10]
squared_list = [x ** 2 for x in original_list]

print(squared_list)

[4, 9, 25, 49, 100]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [81]:
original_list = ['apple', 'banana', 'orange', 'grape']
indexed_dict = {value: index for index, value in enumerate(original_list)}

print(indexed_dict)

{'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

38. Shuffle the elements of a list randomly.

In [82]:
import random

original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(original_list)

print(original_list)

[10, 1, 6, 4, 5, 8, 7, 2, 9, 3]

39. Create a list of the first 10 factorial numbers

In [84]:
factorial_numbers = []
current_factorial = 1

for n in range(1, 11):
    current_factorial *= n
    factorial_numbers.append(current_factorial)

print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [85]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

has_common_element = any(item in set(list1) for item in list2)

if has_common_element:
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list

In [88]:
b=[10,20,30,40]
b.clear()
b

[]

42.Replace negative numbers in a list with 0.

In [89]:
original_list = [1, -2, 3, -4, 5, -6, 7, -8, 9, -10]
modified_list = [x if x >= 0 else 0 for x in original_list]

print(modified_list)

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

43. Convert a string into a list of words

In [91]:
sentence = "This is a sample sentence."
word_list = sentence.split()

print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

44.Convert a list of words into a string.

In [95]:
a=['This','is','a','Statement']
b=' '.join(a)
print(b)

This is a Statement

45. Create a list of the first `n` powers of 2

In [96]:
n = int(input("Enter the number"))  # Change this to the desired number of powers
output = [2 ** i for i in range(n)]

print(output)

Enter the number6
[1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [39]:
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]
longest_string = max(string_list,key=len)

print("The longest string is:", longest_string)

The longest string is: strawberry

 47.Find the shortest string in a list of strings

In [40]:
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]
shortest_string = min(string_list,key=len)

print("The shortest string is:", shortest_string)

The shortest string is: kiwi

48. Create a list of the first `n` triangular numbers.

In [108]:
n = int(input("Enter the number")) # Change this to the desired number of triangular numbers
triangular_numbers = []

for i in range(1, n + 1):
    triangular_numbers.append(i * (i + 1) // 2)

print(triangular_numbers)

Enter the number6
[1, 3, 6, 10, 15, 21]

49. Check if a list contains another list as a subsequence.

In [109]:
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 7]

subseq_index = 0

for item in main_list:
    if subseq_index < len(subsequence) and item == subsequence[subseq_index]:
        subseq_index += 1

if subseq_index == len(subsequence):
    print("The subsequence is present.")
else:
    print("The subsequence is not present.")

The subsequence is present.

50. Swap two elements in a list by their indices.

In [112]:
a=[1,2,3,4,5]
a[0],a[1]=a[1],a[0]
print(a)

[2, 1, 3, 4, 5]

# Tuples

1. Create a tuple with integers from 1 to 5.

In [116]:
a=tuple(range(1,6))
print(a)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [4]:
a=(1,2,3,4,5)
print(a[2])

3

3. Find the length of a tuple without using the `len()` function.

In [5]:
my_tuple = (1, 2, 3, 4, 5)
count = 0

for i in my_tuple:
    count += 1

print("Length:", count)

Length: 5

4. Count the occurrences of an element in a tuple.

In [6]:
my_tuple = (1, 2, 3, 2, 4, 2, 5)
element_to_count = 2

occurrences = my_tuple.count(element_to_count)
print(f"The element {element_to_count} appears {occurrences} times in the tuple.")

The element 2 appears 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [7]:
my_tuple = (10, 20, 30, 20, 40, 50)
element_to_find = 20

index = my_tuple.index(element_to_find)
print(f"The first occurrence of {element_to_find} is at index {index}.")

The first occurrence of 20 is at index 1.

6. Check if an element exists in a tuple.

In [8]:
my_tuple = (5, 10, 15, 20, 25)
element_to_check = 15

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

15 exists in the tuple.

7. Convert a tuple to a list.

In [9]:
a=(1,2,3,4,5)
b=list(a)
print(b)

[1, 2, 3, 4, 5]

8.Convert List into Tuple

In [10]:
a=[1,2,3,4,5]
b=tuple(a)
print(b)

(1, 2, 3, 4, 5)

 9.Unpack the elements of a tuple into variables

In [11]:
my_tuple = (10, 20, 30)
var1, var2, var3 = my_tuple

print("Unpacked values:")
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

Unpacked values:
var1: 10
var2: 20
var3: 30

10. Create a tuple of even numbers from 1 to 10.

In [14]:
a=tuple(range(2,11,2))
print(a)

(1, 3, 5, 7, 9)

11.Create a tuple of odd numbers 1 to 10.

In [16]:
b=tuple(range(1,11,2))
print(b)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [17]:
a=(1,2,3,4)
b=(5,6,7,8)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

13. Repeat a tuple three times.

In [18]:
a=(1,2,3)
a*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [19]:
a=()
if len(a)==0:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty

15. Create a nested tuple.

In [20]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

16. Access the first element of a nested tuple.

In [21]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
first_element = nested_tuple[0][0]

print("The first element of the nested tuple:", first_element)

The first element of the nested tuple: 1

17. Create a tuple with a single element.

In [22]:
t=(1,)
print(type(t))

<class 'tuple'>

18. Compare two tuples.

In [24]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 < tuple2:
    print("tuple1 is less than tuple2")
elif tuple1 > tuple2:
    print("tuple1 is greater than tuple2")
elif tuple1==tuple2:
    print("tuple1 and tuple2 are equal")
else:
    print('tuple1 and tuple2 are not related')

tuple1 and tuple2 are equal

19. Delete a tuple

a=(1,2,3,4)
print(a)
del a
print(a)

20. Slice a tuple.

In [34]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slice from index 2 to index 5 (exclusive), step by 2
sliced_tuple = original_tuple[2:5:2]

print("Original tuple:", original_tuple)
print("Sliced tuple:", sliced_tuple)

Original tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Sliced tuple: (3, 5)

21. Find the maximum value in a tuple.

In [42]:
my_tuple = (10, 30, 20, 50, 40)

max_value = max(my_tuple)
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 50

22.Find the minimum value in a tuple

In [43]:
my_tuple = (10, 30, 20, 50, 40)

min_value = min(my_tuple)
print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 10

24. Convert a tuple of characters to a string.

In [44]:
char_tuple = ('H', 'e', 'l', 'l', 'o')

char_string = ''.join(char_tuple)
print("Converted string:", char_string)

Converted string: Hello

25. Create a tuple from multiple data types.

In [45]:
mixed_tuple = (10, "Hello", 3.14, True)

print(mixed_tuple)

(10, 'Hello', 3.14, True)

26. Check if two tuples are identical.

In [136]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
if tuple1 == tuple2:
    print("tuple1 and tuple2 are identical.")
else:
    print("tuple1 and tuple2 are not identical.")

tuple1 and tuple2 are identical.

27. Sort the elements of a tuple.

In [47]:
my_tuple = (5, 2, 8, 1, 3)
sorted_list = sorted(my_tuple)
sorted_tuple = tuple(sorted_list)

print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: (5, 2, 8, 1, 3)
Sorted tuple: (1, 2, 3, 5, 8)

28.Convert a tuple of integers to a tuple of strings.

In [48]:
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(str(item) for item in int_tuple)

print("Original tuple of integers:", int_tuple)
print("Tuple of strings:", str_tuple)

Original tuple of integers: (1, 2, 3, 4, 5)
Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [50]:
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(int(item) for item in str_tuple)

print("Original tuple of integers:", str_tuple)
print("Tuple of strings:", int_tuple)

Original tuple of integers: ('1', '2', '3', '4', '5')
Tuple of strings: (1, 2, 3, 4, 5)

30. Merge two tuples.

In [51]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2

print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

 31.Flatten a nested tuple.

In [53]:
my_tuple = ((1,2), (2, 3),(4, 5, 6, 7))

flat_tuple = sum(my_tuple, ())
print(flat_tuple)

(1, 2, 2, 3, 4, 5, 6, 7)

32. Create a tuple of the first 5 prime numbers.

In [61]:
noprimes = set(j for i in range(2, 4) for j in range(i*2, 50, i))
primes = [x for x in range(2, 6) if x not in noprimes]
#print(primes)
print(tuple(primes))

(2, 3, 5)

33. Check if a tuple is a palindrome

In [62]:
def is_palindrome_tuple(tup):
    lst = list(tup)
    start = 0
    end = len(lst) - 1
    
    while start < end:
        if lst[start] != lst[end]:
            return False
        start += 1
        end -= 1
        
    return True

# Test cases
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

print(is_palindrome_tuple(tuple1))  # Output: True
print(is_palindrome_tuple(tuple2))  # Output: False

True
False

34. Create a tuple of squares of numbers from 1 to 5.

In [67]:
squares_tuple = (1**2, 2**2, 3**2, 4**2, 5**2)
print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple

In [68]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

even_numbers_tuple = tuple(x for x in original_tuple if x % 2 == 0)
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [72]:
original_tuple = (1, 2, 3, 4, 5)

multiplied_tuple = tuple(x * 2 for x in original_tuple)
print(multiplied_tuple)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [74]:
import random

random_tuple = tuple(random.randint(1, 100) for i in range(5))
print(random_tuple)

(93, 78, 59, 23, 15)

38. Check if a tuple is sorted

In [75]:
def is_sorted_tuple(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Example tuples
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (3, 1, 4, 1, 5)

print(is_sorted_tuple(sorted_tuple))    # Output: True
print(is_sorted_tuple(unsorted_tuple))  # Output: False

True
False

In [76]:
# importing numpy library
import numpy as np

# initializing list
test_tuple = (11, 4, 5, 8, 10)

# convert list to numpy array
test_arr = np.array(test_tuple)

# check if the numpy array is sorted or not
if np.all(np.diff(test_arr) >= 0):
    print("Yes, Tuple is sorted.")
else:
    print("No, Tuple is not sorted.")

No, Tuple is not sorted.

39. Rotate a tuple to the left by `n` positions.

In [78]:
my_tuple = (1, 2, 3, 4, 5)
n = 2

n %= len(my_tuple)  # Handle cases where n is larger than the list length

rotated_tuple = my_tuple[n:] + my_tuple[:n]

print("Original tuple:", my_tuple)
print(f"tuple rotated left by {n} positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
tuple rotated left by 2 positions: (3, 4, 5, 1, 2)

40.Rotate a tuple to the right by 'n' positions

In [79]:
my_tuple = (1, 2, 3, 4, 5)
n = 2

n %= len(my_tuple)  # Handle cases where n is larger than the list length

rotated_tuple = my_tuple[-n:] + my_tuple[:-n]

print("Original tuple:", my_tuple)
print(f"tuple rotated left by {n} positions:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
tuple rotated left by 2 positions: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [81]:
def generate_fibonacci(n):
    fibonacci = [0, 1]
    while len(fibonacci) < n:
        next_num = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_num)
    return tuple(fibonacci)

first_five_fibonacci_tuple = generate_fibonacci(5)
print(first_five_fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [90]:
 a= '3, 5, 7, 23'

out = tuple(map(int, a.split(",")))

print(out)

#(3, 5, 7, 23)

(3, 5, 7, 23)

43. Swap two elements in a tuple.

In [91]:
def swap_elements(tup, index1, index2):
    # Convert the tuple to a list to modify it
    list_representation = list(tup)
    
    # Swap the elements at the given indices
    list_representation[index1], list_representation[index2] = list_representation[index2], list_representation[index1]
    
    # Convert the list back to a tuple
    swapped_tuple = tuple(list_representation)
    return swapped_tuple

original_tuple = (1, 2, 3, 4, 5)
index_to_swap = 1  # Indices are 0-based
index_to_swap_with = 3

swapped_tuple = swap_elements(original_tuple, index_to_swap, index_to_swap_with)
print("Original tuple:", original_tuple)
print("Swapped tuple:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple

In [96]:
def reverse_tuple(tup):
    reversed_tuple = tuple(reversed(tup))
    return reversed_tuple

original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)

print("Original tuple:", original_tuple)
print("Reversed tuple:", reversed_tuple)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

In [98]:
tup=(1,2,3,4,5)
b=tuple(reversed(tup))
print(tup)
print(b)

(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [101]:
def powers_of_2(n):
    return tuple(2 ** i for i in range(n))

n = int(input("Enter the value of n"))  # Number of powers of 2
powers_tuple = powers_of_2(n)
print(powers_tuple)

Enter the value of n4
(1, 2, 4, 8)

46. Find the longest string in a tuple of strings.

In [104]:
string_tuple = ("apple", "banana", "kiwi", "strawberry", "orange")
longest_string = max(string_tuple,key=len)

print("The longest string is:", longest_string)

The longest string is: strawberry

47. Find the shortest string in a tuple of strings.

In [103]:
string_tuple = ("apple", "banana", "kiwi", "strawberry", "orange")
shortest_string = min(string_tuple,key=len)

print("The shortest string is:", shortest_string)

The shortest string is: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [106]:
def triangular_numbers(n):
    return tuple(i * (i + 1) // 2 for i in range(1, n + 1))

n = int(input("Enter the value of n"))  # Number of triangular numbers
triangular_tuple = triangular_numbers(n)
print(triangular_tuple)

Enter the value of n5
(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [107]:
def is_subsequence(main_tuple, sub_tuple):
    main_len = len(main_tuple)
    sub_len = len(sub_tuple)

    if sub_len > main_len:
        return False

    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i + sub_len] == sub_tuple:
            return True

    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)
sub_tuple = (3, 4, 5)

print(is_subsequence(main_tuple, sub_tuple))  # Output: True

True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [109]:
def alternating_tuple(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

n = int(input("Enter the value of n")) # Length of the tuple
alternating_ones_zeros = alternating_tuple(n)
print(alternating_ones_zeros)

Enter the value of n6
(1, 0, 1, 0, 1, 0)

# Sets

1.Create a set with integers from 1 to 5.

In [111]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

2. Add an element to a set

In [112]:
s={1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [114]:
s={1,2,3,4,5}
s.pop()
s

{2, 3, 4, 5}

4. Check if an element exists in a set.

In [115]:
my_set = {1, 2, 3, 4, 5}

element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

5. Find the length of a set without using the `len()` function.

In [118]:
my_set = {1, 2, 3, 4, 5,6}
length = sum(1 for i in my_set)
print("Length of the set:", length)

Length of the set: 6

6. Clear all elements from a set.

In [120]:
s={1,2,3,4,5,6}
s.clear()
s

set()

7. Create a set of even numbers from 1 to 10.

In [121]:
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [122]:
odd_numbers_set = {x for x in range(1, 11) if x % 2 == 1}
print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

s={1,2,3}
d={4,5,6}
e=s.union(d)
print(e)

10. Find the intersection of two sets.

In [124]:
s={1,2,3}
d={3,5,6}
e=s.intersection(d)
print(e)

{3}

11. Find the difference between two sets.

In [126]:
s={1,2,3}
d={3,5,6}
e=s-(d)
print(e)

{1, 2}

12. Check if a set is a subset of another set.

In [127]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Using issubset() method
is_subset_method_result = set2.issubset(set1)
print("Using issubset() method:", is_subset_method_result)

Using issubset() method: True

13. Check if a set is a superset of another set

In [128]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Using issuperset() method
is_superset_method_result = set1.issuperset(set2)
print("Using issuperset() method:", is_superset_method_result)

Using issuperset() method: True

14. Create a set from a list.

In [134]:
# a is defined list
a = [1,2,3,'seeker',3,7.5]
t = {x for x in a} # set comprehension
print(t)

{1, 2, 3, 'seeker', 7.5}

15.Create a list from set

In [137]:
s={1,2,3}
b=list(s)
print(b)

[1, 2, 3]

16. Remove a random element from a set.

In [141]:
my_set = {1, 2, 3, 4, 5}

if my_set:
    removed_element = my_set.pop()
    print("Removed element:", removed_element)
    print("Updated set:", my_set)
else:
    print("Set is empty.")

Removed element: 1
Updated set: {2, 3, 4, 5}

17. Pop an element from a set

In [142]:
s={1,2,3,4,5}
s.pop()
s

{2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [143]:
s1={1,2,3}
s2={4,5,6}
if s1.intersection(s2)==True:
    print("There are few elements in common")
else:
    print("There are no elements in common")

There are no elements in common

19. Find the symmetric difference between two sets.

In [144]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_diff = set1.symmetric_difference(set2)
print(symmetric_diff)  # Output: {1, 2, 5, 6}

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [145]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)
print(set1)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [148]:
primes = {num for num in range(1, 6) if all(num % i != 0 for i in range(2, int(num**0.5) + 1)) and num > 1}
print(primes)

{2, 3, 5}

22. Check if two sets are identical.

In [149]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [150]:
elements = [1, 2, 3, 4, 5]
frozen_set = frozenset(elements)

print(frozen_set)

frozenset({1, 2, 3, 4, 5})

24.Check if a set is disjoint with another set.

In [151]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets have some elements in common.")

The sets are disjoint.

25. Create a set of squares of numbers from 1 to 5.

In [152]:
squares_set = {x ** 2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [154]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

filtered_set = {x for x in original_set if x % 2 != 1}

print(filtered_set)

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [155]:
original_set = {1, 2, 3, 4, 5}

multiplied_set = {x * 2 for x in original_set}

print(multiplied_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [158]:
import random

random_set = {random.randint(1, 100) for i in range(10)}

print(random_set)

{66, 40, 75, 83, 20, 53, 19, 23, 91, 30}

29. Check if a set is empty.

In [162]:
set={}
if set=={}:
    print("set is empty")
else:
    print("set is not empty")

set is empty

30. Create a nested set (hint: use frozenset).

In [163]:
nested_set = {
    frozenset({1, 2, 3}),
    frozenset({4, 5, 6}),
    frozenset({7, 8, 9})
}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

31. Remove an element from a set using the discard method.

In [166]:
s={4,5,6,43,234}
s.discard(43)
s

{4, 5, 6, 234}

32. Compare two sets.

In [167]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

33. Create a set from a string.

In [171]:
my_string = "hello"
my_set = {char for char in my_string}

print(my_set)

{'e', 'h', 'l', 'o'}

34. Convert a set of strings to a set of integers

In [172]:
string_set = {"10", "20", "30"}
int_set = {int(item) for item in string_set}

print(int_set)

{10, 20, 30}

35. Convert a set of integers to a set of strings.

In [173]:
int_set = {10, 20, 30}
string_set = {str(item) for item in int_set}

print(string_set)

{'30', '20', '10'}

36. Create a set from a tuple.

In [177]:
my_tuple = (1, 2, 3, 4, 5)
my_set = {item for item in my_tuple}

print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [179]:
s={1,2,3,4,5}
d=tuple(s)
print(d)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [182]:
string_set = {"apple", "banana", "kiwi", "strawberry", "orange"}
longest_string = max(string_list,key=len)

print("The Longest string is:", longest_string)

The Longest string is: strawberry

39. Find the minimum value in a set.

In [183]:
string_set = {"apple", "banana", "kiwi", "strawberry", "orange"}
Shortest_string = min(string_list,key=len)

print("The Shortest string is:", Shortest_string)

The Shortest string is: kiwi

40.Create a set from user input

In [184]:
s=input("Enter the set value")

Enter the set value{1,2,3,4}

41. Check if the intersection of two sets is empty.

In [188]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

intersection = set1.intersection(set2)

if len(intersection) == 0:
    print("The intersection is empty.")
else:
    print("The intersection is not empty.")

The intersection is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [1]:
s=set()
n=0
sum=[]
while n<=5:
    if(n==0 or n==1):
        sum.append(n)
        n=n+1
    else:
        sum.append(sum[n-1]+sum[n-2])
        n=n+1
print("fibonacci num:",sum)
for i in sum:
    s.add(i)
s

fibonacci num: [0, 1, 1, 2, 3, 5]

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [2]:
a=[1,1,1,2,3,4,5]
b=tuple(a)
c=set(b)
print(c)

{1, 2, 3, 4, 5}

44. Check if two sets have the same elements, regardless of their count.

In [197]:
set1 = {1, 2, 3}
set2 = {3, 2, 1, 1}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [203]:
n = 8
powers_of_2_set = {2 ** i for i in range(n)}

print(powers_of_2_set)

{32, 1, 2, 64, 4, 128, 8, 16}

46. Find the common elements between a set and a list

In [204]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = my_set.intersection(my_list)
print(common_elements)  # Output: {3, 4, 5}

{3, 4, 5}

47. Create a set of the first `n` triangular numbers

In [3]:
n = 5
ad =set()
current_sum = 0

for i in range(1, n + 1):
    current_sum += i
    ad.add(current_sum)

print(ad)

{1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [208]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

49. Create a set of alternating 1s and 0s of length `n`.

In [209]:
n = 10
alternating_set = {i % 2 for i in range(n)}

print(alternating_set)

{0, 1}

50. Merge multiple sets into one.

In [210]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}